.idea
bin
obj
/.vs/ProjectEvaluation/pvpadventure.metadata.v9.bin
/.vs/ProjectEvaluation/pvpadventure.projects.v9.bin
/.vs/ProjectEvaluation/pvpadventure.strings.v9.bin
/.vs/PvPAdventure/DesignTimeBuild/.dtbcache.v2
/.vs/PvPAdventure/FileContentIndex/07e981e4-2d9a-4c83-9bbb-e10b6c7360ff.vsidx
/.vs/PvPAdventure/FileContentIndex/5ddc4114-cc0b-472a-bafd-3be198a5c2da.vsidx
/.vs/PvPAdventure/FileContentIndex
/.vs/PvPAdventure/v17
/.vs
/PvPAdventure.sln
